<div class="player-wrapper">
    <div nz-row nzGutter="16">
        <div class="title" nz-col [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
            <h1>Người cát phần 2</h1>
        </div>
        <hr class="divider">
        <div class="player" nz-col [nzSm]="24" [nzLg]="18">
            <video #videoElement class="video-js vjs-default-skin" controls></video>
        </div>
        <div class="episode" nz-col [nzSm]="24" [nzLg]="6">
            <h2 class="episode-title">
                <nz-icon nzType="play-circle" nzTheme="outline" /> Danh sách tập phim
            </h2>
            <div class="divider"></div>
            <div class="episode-list">
                <a class="active">Tập 1</a>
                <a>Tập 2</a>
                <a>Tập 3</a>
                <a>Tập 4</a>
                <a>Tập 5</a>
                <a>Tập 6</a>
                <a>Tập 7</a>
                <a>Tập 8</a>
                <a>Tập 9</a>
                <a>Tập 10</a>
            </div>
        </div>
    </div>

    <div class="recommended">
        <h1>Phim đề xuất</h1>
        <app-carousel [movies]="[movies]"></app-carousel>
    </div>
</div>
