@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"
        integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="login-container">
        <h2>Tạo tài khoản mới</h2>
        <form method="post" action="/auth/register">
            <input type="text" name="email" placeholder="Email" required />
            <input type="text" name="username" placeholder="Tài khoản" required />
            <input type="password" name="password" placeholder="Mật khẩu" required />
            <button type="submit">Đăng ký</button>
            <span class="optinal">Đã có tài khoản? <a href="/auth/login">Đăng nhập</a></span>
        </form>
    </div>
</body>

</html>
