.header {
    height: 75px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0px 0px 8px 0px rgba(25, 25, 25, 0.75);

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        font-size: 25px;
        letter-spacing: 5px;
        background: -webkit-linear-gradient(90deg,
                rgba(42, 123, 155, 1) 0%,
                rgba(131, 201, 160, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        font-family: 'Nature Beauty', sans-serif;
        cursor: pointer;

        img {
            height: 45px;
            width: 45px;
            border-radius: 50%;
        }

    }
}
