<div class="wrapper">
	<div class="banner">
		<div nz-row class="overlay">
			<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="15">
				<div class="content movies-info" nz-flex nzAlign="start" nzJustify="center" nzVertical>
					<h1 class="title">Người Cát (Phần 2)</h1>
					<span class="sub-title">
						Sau hơn một thế kỷ xa rời Dreaming, Dream đã khôi phục và xây dựng lại vương quốc của mình. Khi anh biến đổi
						cung điện,
						anh thề sẽ bỏ lại quá khứ phía sau và hướng tới tương lai. Tất nhiên, quá khứ có những ý tưởng khác.
					</span>
				</div>
			</div>
	
			<div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="9">
				<div class="content" nz-flex nzAlign="center" nzJustify="center">
					<button class="play-btn" nz-button nzType="primary" nzDanger nzShape="round">
						<nz-icon nzType="play-circle" nzTheme="outline" /> Xem phim
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="movies-container">
		<div class="newly-updated">
			<div nz-row nzGutter="20">
				<div nz-col [nzSm]="12" [nzMd]="8" [nzLg]="6">
					<app-movies-item 
						imgSrc="/nguoi-cat-phan-2-thumb.jpg"
						name="Người Cát (Phần 2)"
						originName="Người Cát (Phần 2)"
						[episodeTotal]=12
						[episodeCurrent]=1
						quality="HD"
						createdTime="2025-07-03T13:01:49.000Z"
					/>
				</div>
				<div nz-col [nzSm]="12" [nzMd]="8" [nzLg]="6">
					<app-movies-item 
						imgSrc="/nguoi-cat-phan-2-thumb.jpg"
						name="Người Cát (Phần 2)"
						originName="Người Cát (Phần 2)"
						[episodeTotal]=12
						[episodeCurrent]=1
						quality="HD"
						createdTime="2025-07-03T13:01:49.000Z"
					/>
				</div>
				<div nz-col [nzSm]="12" [nzMd]="8" [nzLg]="6">
					<app-movies-item 
						imgSrc="/nguoi-cat-phan-2-thumb.jpg"
						name="Người Cát (Phần 2)"
						originName="Người Cát (Phần 2)"
						[episodeTotal]=12
						[episodeCurrent]=1
						quality="HD"
						createdTime="2025-07-03T13:01:49.000Z"
					/>
				</div>
				<div nz-col [nzSm]="12" [nzMd]="8" [nzLg]="6">
					<app-movies-item 
						imgSrc="/nguoi-cat-phan-2-thumb.jpg"
						name="Người Cát (Phần 2)"
						originName="Người Cát (Phần 2)"
						[episodeTotal]=12
						[episodeCurrent]=1
						quality="HD"
						createdTime="2025-07-03T13:01:49.000Z"
					/>
				</div>
			</div>
		</div>
	</div>
</div>